html{
	background: black;
}
body{
	height: 100%;
	background: black;
	background-image: url(/img/dots.png),url(/img/background.jpg);
	background-repeat:   repeat, no-repeat;
	background-size:    auto, cover;
	background-position:   center center, top left;
	font-family: sans-serif;
	color: #051a00;
}
article.container{
	max-width: 700px;
	padding: 0 auto;
	background: #6cbf00;
	border: 7px solid white;
	margin-top: 80px;
	position: relative;
	padding: 20px;
	border-radius: 20px;
}
article.container h1{
	max-width: 700px;
	text-align: center;
	position: absolute;
	top: -85px;
	font-family: 'Port Lligat Sans', cursive;
	color: white;
	font-size: 60px;
	text-transform: uppercase;
}


article legend{
	font-family: 'Port Lligat Sans', cursive;
	display: block;
	color: white;
	font-size: 25px;
}

/*input[type=radio]{
	padding-right: 24px;
}*/
input[type=radio],.preferences label{
	float: right;

}

div.form-control{
	background: transparent;
	box-sizing: border-box;
	border-width: 0;
	box-shadow: inset 0 0 0 #000;
}



@media all and (min-device-width:1024px){
input[type=radio][name=chips],
input[type=radio][name=beers]{
	/*position: absolute;
	right: -1000px;	*/	
	/*visibility: hidden;	*/
	margin-top: 10px;
	width: 0px;
	 visibility: hidden;
	 /*兼容Firefox*/
}

.preferences label{
	text-indent: -60px;
	width: 40px !important;
	overflow: hidden;
	cursor: pointer;
	/*text-align: left;*/
}
div.col-sm-9.forbeers,
div.col-sm-9.forchips{

	counter-reset: checkbox;
}
/* beers */
	.preferences label.beers{
		background: transparent url('../img/beer_not_selected.png') no-repeat center center;
	}

    .preferences label.beers:hover ~ label.beers, 
	.preferences label.beers:hover, 
	.preferences input[type=radio][name=beers]:checked ~ label.beers {
		background-image: url('../img/beer.png');
		counter-increment: checkbox;
	}
.preferences  input[type=radio][name=beers]:required:after{
				content: counter(checkbox) " beers!";

			}
	.ttbeers:after{
		content: counter(checkbox) " beers!";
	}
		
	.preferences label.chips{
				background: transparent url('../img/frenchfries_not_selected.png') no-repeat center center;
			}
		
			.preferences label.chips:hover ~ label.chips,.preferences label.chips:hover, 
			.preferences input[type=radio][name=chips]:checked ~ label.chips {
				background-image: url('../img/frenchfries.png');
				counter-increment: checkbox;
			}
			.ttchips:after{
				content: counter(checkbox) " chips!";
			}


}


fieldset{
			counter-reset: invalid fields;
		}
				
		input:not([type=submit]):not([type=radio]):invalid, 
		input[type=radio]:required:invalid{
			counter-increment: invalid fields;
			border-left: 5px solid #ff4900;
		}
		
		input:not([type=submit]):not([type=radio]):valid, input[type=radio]:required{
			counter-increment: fields;
			border-left: 5px solid #116300;
		}
				

		
		
		fieldset:invalid div~footer:after{
			content: counter(invalid) '/' counter(fields) " fields with problems; move the mouse over the fields with red marks to see details.\a Fields with * are required.";
			white-space: pre; 
			/*兼容火狐*/

			white-space: pre-wrap;
			text-align: right;
			display: block;
			word-wrap:break-word;
			word-wrap:break-all;

		}
		

		fieldset footer:last-child:after{
			

			content: 'yay, section completed, move on!';
			text-align: right;
			display: block;
			font-size: 13px;
			padding-top: 10px;
		}









