/* ---[BEGIN] STYLING ---*/

/* variables */
$dots_for_bg: url('/img/dots.png');
$bg_jpg: url('/img/background.jpg');

$google_font: 'Port Lligat Sans';

html{
	height: 100%;
	background: black;
	background-image: $dots_for_bg, $bg_jpg;
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
	font-family: sans-serif;
	color: #051a00;
}

/* main container */
article {
	width: 600px;
	margin: 0 auto;
	background: #6cbf00;
	border: 10px solid white;
	margin-top: 80px;
	position: relative;
	padding: 30px;
	border-radius: 20px;
	/* mvoe the title over the main container */
	h1{
		width: 600px;
		text-align: center;
		position: absolute;
		top: -62px;
		/* using google font */
		font-family: $google_font, cursive;
		color: white;
		font-size: 60px;
		text-transform: uppercase;
	}

	p,
	&>footer{
		padding-bottom: 1em;
		line-height: 1.4em;
	}

	legend{
		font-family: $google_font, cursive;
		display: block;
		color: white;
		font-size: 25px;
		padding-bottom: 10px;
	}
}

.label{
	display: block;
	float: left;
	clear: left;
}

input[type=submit]{
	display: block;
	width: 200px;
	margin: 20px auto;
}

input[type=text]{
	float: right;
	clear: right;
	width: 350px;
	border: none;
	padding-left: 5px;
}
input[type=email]{
	@extend input[type=text];
}

.label{
	margin: 2px 0px 2px 20px;
	line-height: 30px;
	height: 30px;
}
input[type=text],input[type=email]{
	@extend .label;
}

span + input[type=radio], legend + input[type=radio]{
	clear: right;
}

/* 设置radio相关的label大小 */
.preferences label.chips,
.preferences label.beers{
	width: 60px;
	background-image: none;
}

// @mixin right-vertical-center{
// 	float: right;
// 	line-height: 30px;
// 	height: 30px;
// }
// .preferences label{
// 	@include right-vertical-center;
// }
// input[type='radio']{
// 	padding-right: 4px;
// 	@include right-vertical-center;
// }

input[type='radio']{//这里这个“”可以在继承的时候进行区分因为在css里有没有双引号没影响
	//这个若不带双引号也会被下面的代码继承
padding-right: 4px;
}

//"text" 'text' text 行为是一样的
// input[type="text"]{
// 	background-color: green;
// }
// input[type='text']{
// 	color: red;
// }
// input[type=text]{
// 	font-weight: bold;
// }

input[type=radio]{
	float: right;
	line-height: 30px;
	height: 30px;
}

.preferences label{
	@extend input[type=radio];
}

/* --- [END] STYLING --- */


/* --- [BEGIN] SHOW REQUIRED --- */

input:required + * + .label:after,
input:required + .label:after{
	content: '*';
}

/* --- [END] SHOW REQUIRED --- */

/* --- [BEGIN] CHECKBOX TRICK --- */

/* 如果浏览器支持媒体查询就支持这部分 */

@media all and (min-device-width: 1024px) {

	input[type='radio']{//注意这里加了单引号否则会有问题哦
		position: absolute;
		right: 30px;
		margin-top: 10px;
	}
	input[type='radio'][name=chips]{//这里推荐不要老是使用继承问题太多了
		margin-top: 35px;
	}
	.preferences label{//这里会有之前的代码的虽然编译出来的时候没有，这是css的知识
		text-indent: -100px;
		width: 40px !important;
		line-height: normal;
		overflow: hidden;
		cursor: pointer;
	}

	span + input[type='radio'] + label,
	legend + input[type='radio'] + label{
		clear: right;
		margin-right: 80px;//todo
		counter-reset: checkbox;
	}

	.preferences input[type='radio']:required + label:after{
		content: '';
		position: absolute;
		right: 25px;
		min-height: 10px;
		margin-top: -22px;
		text-align: right;
		background: #6cbf00;
		padding: 10px 10px;
		display: block;
	}

	/* mixin for beers and chips*/
	@mixin beers_or_chips($whichs){
		$which: if($whichs == beers,beer,frenchfries);//这里的beers带不带引号都可以的
		.preferences label.#{$whichs}{
			background: transparent url('/img/#{$which}_not_selected.png') no-repeat center center;
			&:hover,
			&:hover ~ label.#{$whichs}/*,
			这里这样写仍会编译成 .preferences label.#{$whichs} 的后代元素 
			.preferences input[type="radio"][name=#{$whichs}]:checked ~ label.#{$whichs}*/ {
				background-image: url('/img/#{$which}.png');
				counter-increment: checkbox;
			}
		};
		.preferences input[type="radio"][name=#{$whichs}]:required +
		label.#{$whichs}:after{
			content: counter(checkbox) "#{$whichs}";
		}

		
		.preferences input[type="radio"][name=#{$whichs}]:checked ~ label.#{$whichs} {
				background-image: url('/img/#{$which}.png');
				counter-increment: checkbox;
			}
		
	
	}

	@include beers_or_chips(beers);
	@include beers_or_chips(chips);
}

/* --- [END] CHECKBOX TRICK --- */


/* --- [BEGIN] VALID/INVALID COUNTER--- */

fieldset{
	counter-reset: invalid fields;
	footer{
		clear: both;
		position: relative;
	}
	> input:invalid ~ footer:after{
		content: counter(invalid) '/' counter(fields) " fields with problems; move the mouse over the fields with red marks to see details. \a  Fields with * are required.";
		white-space: pre;
	}
	&:not([fake]) footer:after{
		content: 'yay, section completed, move on!';
			text-align: right;
			display: block;
			font-size: 13px;
			padding-top: 10px;
	}
}

input:not([type=submit]):not([type='radio']):invalid,
input[type='radio']:required:invalid{
	counter-increment: invalid fields;
	border-left: 5px solid #ff4900;
}

input:not([type=submit]):not([type='radio']):valid,
input[type='radio']:required{
	counter-increment: fields;
	border-left: 5px solid #116300;
}


/* --- [END] VALID/INVALID COUNTER--- */

.test{
	color: red;
}











