/* --- [BEGIN] STYLING--- */

html{
	height: 100%;
	background: black;
	background-image: url('/img/dots.png'),url('/img/background.jpg');
	background-repeat: repeat, no-repeat; 
	background-size: auto, cover;
	background-position: center center, top left;
	font-family: sans-serif;
	color: #051a00;
}

/* the main container*/

article{
	width: 600px;
	margin: 0 auto;
	background: #6cbf00;
	border: 10px solid white;
	margin-top: 80px;
	position: relative;
	padding: 30px;
	border-radius: 20px;
	/* mvoe the title over the main container*/
	h1{
		width: 600px;
		text-align: center;
		position: absolute;
		top: -62px;
		font-family: 'Port Lligat Sans', cursive;
		color: white;
		font-size: 60px;
		text-transform: uppercase;
	}

	/* the small text paragraph */
	p,
	> footer{
		padding-bottom: 1em;
		line-height: 1.4em;
	}
	/* the fieldsets' lengends */
	legend{
		font-family: 'Port Lligat Sans', cursive;
		display: block;
		color: white;
		font-size: 25px;
		padding-bottom: 10px;
	}
}

.label{
	display: block;
	float: left;
	clear: left;
}

/* positioning the submit button */
input[type=submit]{
	display: block;
	width: 200px;
	margin: 20px auto;
}

.labelMixin() {
	margin: 2px 0px 2px 20px;
	line-height: 30px;
	height: 30px;
}

/* align texts input on the right */
input[type=text], input[type=email]{
	float: right;
	clear: right;
	width: 350px;
	border: none;
	padding-left: 5px;
	.labelMixin;
}


.label{
	.labelMixin
}

span + input[type=radio],
legend + input[type=radio]{
	clear: right;
}
/* size of the small labels linked to each radio */
.preferences label.chips, 
.preferences label.beers{
	width: 60px;
	background-image: none;
}

// .preferences label{
// 	float: right;
// 			line-height: 30px;
// 			height: 30px;
// }
// input[type='radio']{
// 	padding-right: 4px;
// 	&:extend(.preferences label);//less里可以这样继承但是sass不可以。同时
// 	//这里也有sass的问题，sass使用的是引号解决的
// 	//他也会继承下面的
	
// }


input[type=radio]{//在less里有没有引号是没什么区别的和sass不一样
		float: right;
			line-height: 30px;
			height: 30px;
}
.preferences label{
	float: right;
			line-height: 30px;
			height: 30px;
}
input[type='radio']{
	padding-right: 4px;
}
/* ---[BEGIN] SHOWREQUIRED--- */

input:required + * + .label:after,
input:required + .label:after{
content: '*';
}

/* ---[END] SHOWREQUIRED --- */

/* ---[BEGIN] CHECKBOX TRICK*/
@media all and (min-device-width: 1024px){
	input[type=radio]{
		position: absolute;
		right: 30px;
		margin-top: 10px;
	}
	input[type=radio][name=chips]{
		margin-top: 35px;

	}
	.preferences label{
		float: right;
		text-indent: -100px;
		width: 40px !important;
		line-height: normal;
		height: 30px;
		overflow: hidden;
		cursor: pointer;
	}

	span + input[type=radio] + label,
	legend + input[type=radio] + label{
		clear: right;
		margin-right: 80px;
		counter-reset: checkbox;
	}
.preferences input[type=radio]:required + label:after{
	content: '';
	position: absolute;
	right: 25px;
	min-height: 10px;
	margin-top: -22px;
	text-align: right;
	background: #6cbf00;
	padding: 10px 10px;
	display: block;
}
	.beers_chips(@whichs, @which){

.preferences label.@{whichs}{
  background: transparent url(~"/img/@{which}_not_selected.png") no-repeat center center;
}
.preferences label.@{whichs}:hover ~ label.@{whichs},
.preferences label.@{whichs}:hover,
.preferences input[type=radio][name=@{whichs}]:checked~label.@{whichs}{
	background-image: url(~"/img/@{which}.png");
	counter-increment: checkbox;
}
.preferences input[type=radio][name=@{whichs}]:required+label.@{whichs}:after{
	content: counter(checkbox) " @{whichs}!";
}
}
.beers_chips(beers,beer);
.beers_chips(chips,frenchfries);
}

/* ---[END] CHECKBOX TRICK*/



/* --- [BEGIN] VALID/INVALID COUNTER --*/



fieldset{
	counter-reset: invalid fields;
	footer{
		clear: both;
		position: relative;
	}
	&:not([fake]) footer:after{
			content: 'yay, section completed, move on!';
			text-align: right;
			display: block;
			font-size: 13px;
			padding-top: 10px;
	}
	> input:invalid ~ footer:after{
		content: counter(invalid) '/' counter(fields) " fields with problems; move the mouse over the fields with red marks to see details.\a Fields with * are required.";
			white-space: pre;
	}
}

input:not([type=submit]):not([type=radio]):invalid,
input[type=radio]:required:invalid{
	counter-increment: invalid fields;
			border-left: 5px solid #ff4900;
}
input:not([type=submit]):not([type=radio]):valid,
input[type=radio]:required{
	counter-increment: fields;
			border-left: 5px solid #116300;
}
/* --- [END] VALID/INVALID COUNTER --*/










/* --- [END] STYLING--- */












































