/* latin */
@font-face {
  font-family: 'Port Lligat Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Port Lligat Sans'), local('PortLligatSans-Regular'), url(http://fonts.gstatic.com/s/portlligatsans/v5/CUEdhRk7oC7up0p6t0g4PzLrmum0cmOWgjO5W8BgBlU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}